*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar{
    border: 1px red solid;
    height: 100vh;
    padding: 0 !important;
}
.dashboard{
    border: 1px blue solid;
    height: 100vh;
}
.logo{
    height: 100px;
    width: 100%;
    border-bottom: black 2px solid;
}
.logo img{
    margin: auto;
    width: 80%;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
    
}