*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
.App{
    height: 100vh;
}
.sidebar{
    /* border: 1px red solid; */
    height: 100vh;
    padding: 0 !important;
}
.dashboard{
    /* border: 1px blue solid; */
    height: 100vh;
    padding: 0 !important;

}
.logo{
    height: 100px;
    width: 100%;
    border-bottom: black 1px solid;
}
.logo img{
    margin: auto;
    width: 80%;
    max-width: 165px;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
    
}